
<h2>Annual Income details</h2>
 
<div class="form-group row">
  <label for="annualIncome" class="col-sm-4 col-form-label">AnnuaL Income</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="annualIncome" #annualIncome>
  </div> 
</div>
<div class="form-group row">
    <label for="companyName" class="col-sm-4 col-form-label">Company Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="companyName" #companyName>
    </div>    
</div>
<div class="form-group row">
    <label for="designation" class="col-sm-4 col-form-label">Designation</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="designation" #designation>
    </div>
</div>
<div class="form-group row">
    <label for="totalExp" class="col-sm-4 col-form-label">Total Experience</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="totalExp" #totalExp>
    </div>
</div>

<div class="form-group row">
    <label for="expWithCurrComp" class="col-sm-4 col-form-label">Experience with current company</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="expWithCurrComp" #expWithCurrComp>
    </div>
</div>
   

