<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand"   >Bank Management System</span>
    <button  class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse"  id="navbarSupportedContent">
        
        <ul  class="navbar-nav mr-auto">
            <li  class="nav-item active">
            <a *ngIf="loggedInStatus===true" href="#" class="nav-link"  (onclick)="logout()">
                 logout<span  class="sr-only">(current)</span>
            </a>
            </li>
            
        </ul>
        
    </div>
</nav>