<h4>Registration</h4>
<p [ngClass]="{'alert alert-danger':error===true}"> {{errorMsg}}</p>


<form>
  <div class="form-group row" *ngIf="registered === true">
    <label for="customerId" class="col-sm-4 col-form-label">Customer ID </label>
    <div class="col-sm-8">
      <span class="col-form-label">{{newCustomer.customerId}}</span>       
    </div>
  </div>
    <div class="form-group row">
      <label for="name" class="col-sm-4 col-form-label">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="name"
         name="cname" required minlength="4"  #name="ngModel" [(ngModel)]="customer.name" >
         <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
        <label for="userName" class="col-sm-4 col-form-label">UserName</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="username" name="username"   
          #username="ngModel" required   
          [(ngModel)]="customer.username" >

          <div *ngIf="username.invalid && (username.dirty || username.touched)"
          class="alert alert-danger">

            <div *ngIf="username.errors.required">
              Username is required.
            </div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 4 characters long.
            </div>
          </div>               
        </div>
      </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="inputPassword" 
        name="inputPassword"
        required
        [(ngModel)]="customer.password"
        placeholder="Password"
        #passwordRef="ngModel">
        <div *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)"
          class="alert alert-danger">

          <div *ngIf="passwordRef.errors.required">
            Password is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
        <label for="guardianType" class="col-sm-4 col-form-label">GuardianType</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" 
          id="guardiantype" name="guardiantype" 
          required
          [(ngModel)] = "customer.guardianType"          
          #guardiantype="ngModel">
          <div *ngIf="guardiantype.invalid && (guardiantype.dirty || guardiantype.touched)"
          class="alert alert-danger">

          <div *ngIf="guardiantype.errors.required">
            Guardian Type is required.
          </div>
        </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="guardianName" class="col-sm-4 col-form-label">GuardianName</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="guardianName" 
          name="guardianName" 
          required
          [(ngModel)] = "customer.guardianName"
          #guardianName="ngModel" >
          <div *ngIf="guardianName.invalid && (guardianName.dirty || guardianName.touched)"
          class="alert alert-danger">

          <div *ngIf="guardianName.errors.required">
            Guardian Name is required.
          </div>
        </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label">Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="address" name="address" 
          required
          [(ngModel)]="customer.address"          
          #address="ngModel" >
          <div *ngIf="address.invalid && (address.dirty || address.touched)"
          class="alert alert-danger">

            <div *ngIf="address.errors.required">
              Address is required.
            </div>
        </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="citizenship" class="col-sm-4 col-form-label">Citizenship</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="citizenship" name="citizenship" 
          [(ngModel)]="customer.citizenship"          
          #citizenship="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="state" class="col-sm-4 col-form-label">State</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="state" name="state" 
          [(ngModel)]="customer.state"
          #state="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="country" class="col-sm-4 col-form-label">Country</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="country" name="country" 
          [(ngModel)]="customer.country"
          #country="ngModel" >
        </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-4 col-form-label">Email</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" name="email" 
        [(ngModel)]="customer.email"
        #email="ngModel" >
      </div>
  </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-4 col-form-label">Gender</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="gender" name="gender" 
          [(ngModel)]="customer.gender"
          #gender >
        </div>
    </div>
    <div class="form-group row">
        <label for="maritalStatus" class="col-sm-4 col-form-label" >Marital status</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="maritalstatus" name="maritalstatus" 
          [(ngModel)]="customer.maritalStatus"
          #maritalstatus>
        </div>
    </div>
    <div class="form-group row">
        <label for="contactno" class="col-sm-4 col-form-label">Contact no.</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="contactnumber" name="contactnumber" 
          required
          minlength="10"
          maxlength="10"
          [(ngModel)]="customer.contact"
          #contact="ngModel" >
          <div *ngIf="contact.invalid && (contact.dirty || contact.touched)"
          class="alert alert-danger">

          <div *ngIf="contact.errors.required">
            Contact number is required.
          </div>
          <div *ngIf="contact.errors.minlength">
            Contact number must be 10 digits.
          </div>
          <div *ngIf="contact.errors.maxlength">
            Contact number must be 10 digits.
          </div>
          <div *ngIf="contact.isNan()">
            Contact number should be numerics.
          </div>
        </div>
        </div>
    </div>
    <div class="form-group row">
      <label for="dob" class="col-sm-4 col-form-label">Date of Birth</label>
      <div class="col-sm-8">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dob" [(ngModel)]="dobModel" ngbDatepicker #dob="ngbDatepicker">
              <div class="input-group-append">
                <button name="dobbtn" class="btn btn-outline-secondary calendar" (click)="dob.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
    </div>
    </div>
    
    <div class="form-group row">
      <label for="dob" class="col-sm-4 col-form-label">Registration Date</label>
      <div class="col-sm-8">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="registrationDate" [(ngModel)]="registrationDateModel" ngbDatepicker #reg="ngbDatepicker">
              <div class="input-group-append">
                <button name="regbtn" class="btn btn-outline-secondary calendar" (click)="reg.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
    </div>
    </div>

    <div class="form-group row">
        <label for="accountType" class="col-sm-4 col-form-label">Account type</label>
        <div class="col-sm-8">
 
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{customer.accountType}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button ngbDropdownItem (click)="onSelectAccountDropdown('Saving')">Saving</button>
              <button ngbDropdownItem (click)="onSelectAccountDropdown('Salary')">Salary</button>
            </div>
          </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="branchName" class="col-sm-4 col-form-label">Branch Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="branchName" name="branchName" 
          [(ngModel)]="customer.branchName"
          #branchName >
        </div>
    </div>
    <div class="form-group row">
        <label for="citizenStatus" class="col-sm-4 col-form-label">Citizen status</label>
        <div class="col-sm-8">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>{{customer.citizenShipStatus}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
              <button ngbDropdownItem (click)="onSelectCitizenStatusDropdown('Minor')">Minor</button>
              <button ngbDropdownItem (click)="onSelectCitizenStatusDropdown('Normal')">Normal</button>
              <button ngbDropdownItem (click)="onSelectCitizenStatusDropdown('Normal')">Senior</button>
            </div>            
          </div>    
        </div>    
    </div>
    <div class="form-group row">
        <label for="initialDepositAmt" class="col-sm-4 col-form-label">Initial Deposit Amount</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="initialDepositAmt" 
          name="initialDepositAmt" 
          [(ngModel)]="customer.initialDepositAmount"
          #initialDepositAmt >
        </div>
    </div>
    <div class="form-group row">
        <label for="idProofType" class="col-sm-4 col-form-label">Identification Proof Type</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="idProofType" name="idProofType" 
          [(ngModel)]="customer.idProofType"
          #idProofType >
        </div>
    </div>
    <div class="form-group row">
        <label for="idDocumentNo" class="col-sm-4 col-form-label">Identification Document no.</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="idDocumentNo"
          name="idDocumentNo" 
          [(ngModel)]="customer.idDocNumber"
          #idDocumentNo >
        </div>
    </div>
    <div class="form-group row">
        <label for="refAccHolderName" class="col-sm-4 col-form-label">Reference Account holder name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="refAccHolderName" name="refAccHolderName"
          [(ngModel)]="customer.refHolderName"
           #refAccHolderName >
        </div>
    </div>
    <div class="form-group row">
        <label for="refAccHolderNo" class="col-sm-4 col-form-label">Reference Account Holder number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="refAccHolderNo" name="refAccHolderNo"
          [(ngModel)]="customer.refAccHolderNo"
          #refAccHolderNo >
        </div>
    </div>
    <div class="form-group row">
        <label for="refAccHolderAddress" class="col-sm-4 col-form-label">Reference Account Holder Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="refAccHolderAddress" name="refAccHolderAddress"
          [(ngModel)]="customer.refAccHolderAddress"
          #refAccHolderAddress >
        </div>
    </div>
    <div class="form-group row">
      <button type="button" class="col-sm-4 btn btn-primary mb-2" (click)="onRegister()">Register</button>
      <div class="col-sm-8">
      
      <a routerLink="/">Go to Login</a>
      </div>
  </div>
  </form>