<h2> {{errorMsg}}</h2>
<div class="row">
    <div class="col-xs-12">
        <form #authForm="ngForm">
            <div class="row">
                <div class="col-sm-10 form-group">
                    <label for="name">User Name</label>
                    <input 
                    type="text" 
                    id="userName" 
                    class="form-control"
                    name="userName"
                    [(ngModel)]="userName"
                    required
                    minlength="6"
                    #userNameInput="ngModel">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 form-group">
                    <label for="password">password</label>
                    <input 
                    type="password" 
                    id="password" 
                    class="form-control"
                    name="password"
                    [(ngModel)]="password"
                    #passwordInput="ngModel">
                </div>
              
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <button class="btn btn-primary" type="submit" 
                    (click)="login() "
                    [disabled]="!authForm.valid"
                    >
                    submit</button>
                    
                </div>
                <div class="col-xs-2">
                    &nbsp;
                </div>
                <div class="col-xs-5">
                    <button class="btn btn-primary" type="button" 
                    (click)="goToRegistration()"                    
                    >
                    New User Registration</button>
                </div>
               
            </div>
        </form>
    </div>
</div>