<h4>Loans Applied </h4>

<div class="container" *ngFor="let l of loansView">
    <div *ngIf="l.loanUser === userName">
    <div class="row">    
        <label for="loan" class="col-sm-4">Loan Type</label>
        <div class="col-sm-8">
        <span>{{l.loanType}}</span>
        </div> 
    </div>
    <div class="row">
        <label for="loan" class="col-sm-4">Loan Amount</label>
        <div class="col-sm-8">
            <span>{{l.loanAmount}}</span>
        </div>
    </div>
    <div class="row">
        <label for="loan" class="col-sm-4">Loan apply date</label>
        <div class="col-sm-8">
            <span>{{l.loanApplyDate}}</span>
        </div>
    </div>
    <div class="row">
        <label for="loan" class="col-sm-4">Loan issue date</label>
        <div class="col-sm-8">
            <span>{{l.loanIssueDate}}</span>
        </div>
    </div>
    <div class="row">
        <label for="loan" class="col-sm-4">Loan rate of interest</label>
        <div class="col-sm-8">
            <span>{{l.rateOfInterest}}</span>
        </div>
    </div>
    <div class="row">
       
        <div class="col-sm-12">
            <span>------------------------------------------</span>
        </div>
    </div>
</div>
</div>
