<h2>Apply Loan</h2>
<form #form="ngForm">    
    <div class="form-group row">
      <label for="LoanType" class="col-sm-4 col-form-label">Loan Type</label>
      <div class="col-sm-8">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{loanType}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="onSelectDropdown('Education Loan')">Education Loan</button>
            <button ngbDropdownItem (click)="onSelectDropdown('Personal Loan')">Personal Loan</button>
            <button ngbDropdownItem (click)="onSelectDropdown('Home Loan')">Home Loan</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="loanAmount" class="col-sm-4 col-form-label">Loan Amount</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="loanAmount" #loanAmountInput>
      </div>    
    </div>
    <div class="form-group row">
      <label for="dob" class="col-sm-4 col-form-label">Loan Apply Date</label>
      <div class="col-sm-8">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="loanApplyDate" [(ngModel)]="loanApplyDateModel" ngbDatepicker #loanApply="ngbDatepicker">
              <div class="input-group-append">
                <button name="dobbtn" class="btn btn-outline-secondary calendar" (click)="loanApply.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="form-group row">
      <label for="dob" class="col-sm-4 col-form-label">Loan Issue Date</label>
      <div class="col-sm-8">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="loanIssueDate" [(ngModel)]="loanIssueDateModel" ngbDatepicker #loanIssue="ngbDatepicker">
              <div class="input-group-append">
                <button name="dobbtn" class="btn btn-outline-secondary calendar" (click)="loanIssue.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
    </div>
    </div>
    <div class="form-group row">
        <label for="rateOfInterest" class="col-sm-4 col-form-label">Rate of Interest(%)</label>
        <div class="col-sm-8">
            <input type="text"  class="form-control" readonly 
            id="rateOfInterest" name="rateOfInterest"
            [(ngModel)]="rateOfInterest"
            #rateOfInterestInput="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label for="durationOfLoan" class="col-sm-4 col-form-label">Duration of Loan (Years)</label>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{durationOfLoan}} Years</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button ngbDropdownItem (click)="onSelectRateDropdown(5)">5 Years</button>
            <button ngbDropdownItem (click)="onSelectRateDropdown(10)">10 Years</button>
            <button ngbDropdownItem (click)="onSelectRateDropdown(15)">15 Years</button>
            <button ngbDropdownItem (click)="onSelectRateDropdown(20)">20 Years</button>
          </div>
        </div>
    </div>
   
    <app-eductional *ngIf="loanType==='Education Loan'"></app-eductional>
    <app-personal-home *ngIf="loanType==='Personal Loan'"></app-personal-home>
    <app-personal-home *ngIf="loanType==='Home Loan'"></app-personal-home>
    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary row" (click)="applyLoan()">Apply loan</button>
      </div>
      <div class="col-sm-4">
        <a routerLink="/home">Go to Home</a>
      </div>
    </div>

    
    
  </form>
