
<h2>Education loan details</h2>
 
    <div class="form-group row">
      <label for="courseFee" class="col-sm-4 col-form-label">Course Fee</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="courseFee" #courseFee>
      </div> 
    </div>
    <div class="form-group row">
        <label for="courseFee" class="col-sm-4 col-form-label">Course</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="course" #course>
        </div>    
    </div>
    <div class="form-group row">
        <label for="fathersName" class="col-sm-4 col-form-label">Father's Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="fathersName" #fathersName>
        </div>
    </div>
    <div class="form-group row">
        <label for="fathersOccupation" class="col-sm-4 col-form-label">Father's Occupation</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="fathersOccupation" #fathersOccupation>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="fathersTotalExp" class="col-sm-4 col-form-label">Father's Total experience</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="fathersTotalExp" #fathersTotalExp>
        </div>
    </div>
    <div class="form-group row">
        <label for="fathersExpWithCurrComp" class="col-sm-4 col-form-label">Father's experience with current company</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="fathersExpWithCurrComp" #fathersExpWithCurrComp>
        </div>
    </div>
    <div class="form-group row">
        <label for="rationCardNo" class="col-sm-4 col-form-label">
            Ration card No.</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="rationCardNo" #rationCardNo>
        </div>
    </div>
    <div class="form-group row">
        <label for="annualIncome" class="col-sm-4 col-form-label">
            Annual Income</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="annualIncome" #annualIncome>
        </div>
    </div>
       

