<h4>Profile Update</h4>
<p [ngClass]="{'alert alert-danger':error===true}"> {{errorMsg}}</p>
<form #profileForm="ngForm">
    <div class="form-group row">
      <label for="customerId" class="col-sm-4 col-form-label">Customer Id</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="customerId" 
        name="customerId"
        [(ngModel)] = "updateCustomerObj.customerId"
        #customerIdRef="ngModel"
        >
      </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" 
          name="name"
          [(ngModel)]="updateCustomerObj.name"
          required
          #nameRef="ngModel" >
        </div>
      </div>
    <div class="form-group row">
      <label for="accountNumber" class="col-sm-4 col-form-label">Account Number</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="accountNumber"
        name="accountNumber"
        [(ngModel)]="updateCustomerObj.accountNumber" 
        #accountNumberRef="ngModel">
      </div>
    </div>
    <div class="form-group row">
        <label for="country" class="col-sm-4 col-form-label">Country</label>
        <div class="col-sm-8">
          <input type="text" class="form-control"           
          id="country" 
          name="country"
          [(ngModel)]="updateCustomerObj.country"
          #countryRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="state" class="col-sm-4 col-form-label">State</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="state" 
          name="state"
          [(ngModel)]="updateCustomerObj.state"
          #stateRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-4 col-form-label">Gender</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="gender" 
          name="gender"
          [(ngModel)]="updateCustomerObj.gender"
          #genderRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
      <label for="dob" class="col-sm-4 col-form-label">Date of Birth</label>
      <div class="col-sm-8">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dob" [(ngModel)]="dobModel" ngbDatepicker #dob="ngbDatepicker">
              <div class="input-group-append">
                <button name="dobbtn" class="btn btn-outline-secondary calendar" (click)="dob.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
    </div>
    </div>
    <div class="form-group row">
        <label for="registrationDate" class="col-sm-4 col-form-label">Registration Date</label>  
        <div class="col-sm-8">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="registrationDate" 
                     [(ngModel)]="registrationDateModel" ngbDatepicker #regDate="ngbDatepicker">
              <div class="input-group-append">
                <button name="regdatebtn" class="btn btn-outline-secondary calendar" 
                (click)="regDate.toggle()" type="button"></button>
              </div>
            </div>
          </div>         
        </form>
      </div>      
    </div>
    <div class="form-group row">
        <label for="bankName" class="col-sm-4 col-form-label">Bank Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="bankName" 
          name="bankName"
          [(ngModel)]="updateCustomerObj.bankName"
          #bankNameRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="branchName" class="col-sm-4 col-form-label">Branch Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="branchName" 
          name="branchName"
          [(ngModel)]="updateCustomerObj.branchName"
          #branchNameRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="idProofType" class="col-sm-4 col-form-label">Identification Doc number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="idDocumentNo" 
          name="idDocumentNo"
          [(ngModel)]="updateCustomerObj.idDocNumber"
          #idDocumentNoRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="refAccHolderName" class="col-sm-4 col-form-label" >Reference: account holder name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="refAccHolderName" 
          name="refAccHolderName"
          [(ngModel)]="updateCustomerObj.refHolderName"
          #refAccHolderNameRef="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label for="refAccHolderAccNo" class="col-sm-4 col-form-label">Reference: account holder account number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="refAccHolderAccNo" 
          name="refAccHolderAccNo"
          [(ngModel)]="updateCustomerObj.refAccHolderNo"
          #refAccHolderAccNoRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="refAccHolderAddress" class="col-sm-4 col-form-label">Reference: account holder address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="refAccHolderAddress" 
          name="refAccHolderAddress"
          [(ngModel)]="updateCustomerObj.refAccHolderAddress"
          #refAccHolderAddressRef="ngModel" >
        </div>
    </div>
    
    <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label">Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="address" 
          name="address"
          [(ngModel)]="updateCustomerObj.address"
          #addressRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="contactNo" class="col-sm-4 col-form-label">Contact number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="contactNo" 
          name="contactNo"
          [(ngModel)]="updateCustomerObj.contact"
          #contactNoRef="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label for="mailId" class="col-sm-4 col-form-label">Mail Id</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="mailId" 
          name="mailId"
          [(ngModel)]="updateCustomerObj.email"
          #mailIdRef="ngModel"
          email
          >
        </div>
    </div>
    <div class="form-group row">
        <label for="maritalStatus" class="col-sm-4 col-form-label">Marital Status</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="maritalStatus" 
          name="maritalStatus"
          [(ngModel)]="updateCustomerObj.maritalStatus"        
          #maritalStatusRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="accountType" class="col-sm-4 col-form-label">Account Type</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="accountType" 
          name="accountType"
          [(ngModel)]="updateCustomerObj.accountType"      
          #accountTypeRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="citizenship" class="col-sm-4 col-form-label">Citizenship</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="citizenship" 
          name="citizenship"
          [(ngModel)]="updateCustomerObj.citizenship"      
          #citizenshipRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="citizenshipStatus" class="col-sm-4 col-form-label">Citizenship status</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="citizenshipStatus" 
          name="citizenshipStatus"
          [(ngModel)]="updateCustomerObj.citizenShipStatus" 
          #citizenshipStatusRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="guardianType" class="col-sm-4 col-form-label">Guardian Type</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="guardianType" 
          name="guardianType"
          [(ngModel)]="updateCustomerObj.guardianType" 
          #guardianTypeRef="ngModel" >
        </div>
    </div>
    <div class="form-group row">
        <label for="guardianName" class="col-sm-4 col-form-label">Guardian Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="guardianName" 
          name="guardianName"
          [(ngModel)]="updateCustomerObj.guardianName" 
          #guardianNameRef ="ngModel">
        </div>
    </div>
    <div class="form-group row">
      <button type="submit" class="btn btn-primary mb-2" 
      (click)="updateProfile()"  >Update Profile</button>
      <div class="col-sm-8">
        <a routerLink="/home">Cancel</a>
      </div>
    </div>
  </form>