<p>Hi {{userName}}, Welcome to Banking system. You can <a routerLink="/applyloan">apply loan</a> or 
<a [routerLink]="['/user-profile', userName]">update</a> your profile.</p>

<hr>
<app-loan-view></app-loan-view>
